@model GoodDescModel
@{
    ViewBag.Title = "Stored procedure";
}

<form class="mt-3" asp-action="SetDescription" asp-controller="Good" method="post">
    <input class="input-group col-4 mb-1" type="number" asp-for="@Model.Good_Id" placeholder="Enter good Id" /><span class="text-danger" asp-validation-for="@Model.Good_Id"></span><br />
    <input class="input-group col-4 mb-1" type="number" asp-for="@Model.Discount" placeholder="Enter desired discount" /><span class="text-danger" asp-validation-for="@Model.Discount"></span>

    <hr />

    <input class="btn btn-outline-info" type="submit" value="Submit" />

    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>
</form>

